In [375]:
import selenium
import pandas as pd
from selenium import webdriver
import time
import requests

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver1=webdriver.Chrome('chromedriver.exe')
url1='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/'
driver1.get(url1)

In [3]:
search=driver1.find_element_by_xpath("//input[@class='vector-search-box-input']")
search.send_keys("List_of_most-viewed_YouTube_videos")
btn=driver1.find_element_by_id("searchButton").click()

In [90]:
Rank=[]
rank=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//table[3]//tbody[1]//tr//td[1]")

for i in rank:
    Rank.append(i.text)
len(Rank)

30

In [85]:
name=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[2]")
Name=[]
for i in name:
    Name.append(i.text)
len(Name)

30

In [84]:
Artist=[]
arst=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[3]")

for i in arst:
    Artist.append(i.text)
len(Artist)

30

In [86]:
Views=[]

vws=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[4]")

for i in vws:
    Views.append(i.text)
len(Views)

30

In [88]:
Upload_Date=[]

ud=driver1.find_elements_by_xpath("//div[@class='mw-body-content mw-content-ltr']//div[1]//table[3]//tbody[1]//tr//td[5]")

for i in ud:
    Upload_Date.append(i.text)
    
len(Upload_Date)

30

In [89]:
import pandas as pd

df1=pd.DataFrame()

df1['Rank']=Rank
df1['Video Name']=Name
df1['Artist Name']=Artist
df1['Uploaded Date']=Upload_Date
df1['No of Views']=Views

df1

,Rank,Video Name,Artist Name,Uploaded Date,No of Views
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.32
1,2.,"""Despacito""[25]",Luis Fonsi,"January 12, 2017",7.54
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,"October 8, 2016",5.71
3,4.,"""Shape of You""[27]",Ed Sheeran,"January 30, 2017",5.46
4,5.,"""See You Again""[28]",Wiz Khalifa,"April 6, 2015",5.26
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.51
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,"February 27, 2018",4.51
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.46
8,9.,"""Uptown Funk""[34]",Mark Ronson,"November 19, 2014",4.29
9,10.,"""Gangnam Style""[35]",Psy,"July 15, 2012",4.19
10,11.,"""Phonics Song with Two Words""[37]",ChuChu TV,"March 6, 2014",4.16
11,12.,"""Dame Tu Cosita""[38]",El Chombo,"April 5, 2018",3.59
12,13.,"""Sugar""[39]",Maroon 5,"January 14, 2015",3.55
13,14.,"""Sorry""[40]",Justin Bieber,"October 22, 2015",3.47
14,15.,"""Roar""[41]",Katy Perry,"September 5, 2013",3.43
15,16.,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",3.39
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014",3.32
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.26
18,19.,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",3.14
19,20.,"""Faded""[46]",Alan Walker,"December 3, 2015",3.14
20,21.,"""Girls Like You""[47]",Maroon 5,"May 31, 2018",3.12
21,22.,"""Shake It Off""[48]",Taylor Swift,"August 18, 2014",3.10
22,23.,"""Lean On""[49]",Major Lazer,"March 22, 2015",3.09
23,24.,"""Bailando""[50]",Enrique Iglesias,"April 11, 2014",3.09
24,25.,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.07
25,26.,"""Axel F""[52]",Crazy Frog,"June 16, 2009",3.00
26,27.,"""Mi Gente""[53]",J Balvin,"June 29, 2017",2.98
27,28.,"""Perfect""[54]",Ed Sheeran,"November 9, 2017",2.95
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,"June 4, 2010",2.94
29,30.,"""Hello""[56]",Adele,"October 22, 2015",2.88

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [376]:
driver2=webdriver.Chrome('chromedriver.exe')
url2='https://www.bcci.tv/'
driver2.get(url2)

In [377]:
ints=driver2.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]")

for i in ints:
    i.text=='INTERNATIONAL'
    i.click()
    break

In [378]:
fix=driver2.find_elements_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]")

for i in fix:
    if i.text=='FIXTURES':
        i.click()
        break

In [379]:
Match_Title=[]

mt=driver2.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")

for i in mt:
    Match_Title.append(i.text)
len(Match_Title)

20

In [380]:
Series_Name=[]

sn=driver2.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")

for i in sn:
    Series_Name.append(i.text)
len(Series_Name)

20

In [383]:
Place=[]

pl=driver2.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")

for i in pl:
    Place.append(i.text)

len(Place)

20

In [384]:
Place

['Dubai International Stadium, Dubai',
 'Dubai International Stadium, Dubai',
 'Zayed Cricket Stadium, Abu Dhabi',
 'Dubai International Stadium, Dubai',
 'Dubai International Stadium, Dubai',
 'Sawai Mansingh Stadium, Jaipur',
 'JSCA International Stadium Complex, Ranchi',
 'Eden Gardens, Kolkata',
 'Green Park, Kanpur',
 'Wankhede Stadium, Mumbai',
 'New Wanderers Stadium, Johannesburg',
 'Supersport Park, Centurion',
 'New Wanderers Stadium, Johannesburg',
 'Boland Park, Paarl',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Newlands, Cape Town',
 'Boland Park, Paarl',
 'Boland Park, Paarl']

In [448]:
Date=[]

dt=driver2.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']/strong")

for i in dt:
    Date.append(i.text)
    
len(Date)

20

In [426]:
Time=[]

tm=driver2.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")

for i in tm:
    Time.append(i.text)
Time

['Sunday 24th October 19:30 IST',
 'Sunday 31st October 19:30 IST',
 'Wednesday 3rd November 19:30 IST',
 'Friday 5th November 19:30 IST',
 'Monday 8th November 19:30 IST',
 'Wednesday 17th November 19:00 IST',
 'Friday 19th November 19:00 IST',
 'Sunday 21st November 19:00 IST',
 'Thursday 25th November 09:30 IST',
 'Friday 3rd December 09:30 IST',
 'Friday 17th December 13:30 IST',
 'Sunday 26th December 13:30 IST',
 'Monday 3rd January 13:30 IST',
 'Tuesday 11th January 14:00 IST',
 'Friday 14th January 14:00 IST',
 'Sunday 16th January 14:00 IST',
 'Wednesday 19th January 19:30 IST',
 'Friday 21st January 19:30 IST',
 'Sunday 23rd January 19:30 IST',
 'Wednesday 26th January 19:30 IST']

In [449]:
df2=pd.DataFrame()

df2['Match Title']=Match_Title
df2['Series']=Series_Name
df2['Place']=Place
df2['Date & Time']=Date
df2['Time']=[item[-10:] for item in Time]

df2

,Match Title,Series,Place,Date & Time,Time
0,Match 16,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Sunday 24th October,19:30 IST
1,Match 28,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Sunday 31st October,19:30 IST
2,Match 33,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi",Wednesday 3rd November,19:30 IST
3,Match 37,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Friday 5th November,19:30 IST
4,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Monday 8th November,19:30 IST
5,1st T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",Wednesday 17th November,19:00 IST
6,2nd T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",Friday 19th November,19:00 IST
7,3rd T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",Sunday 21st November,19:00 IST
8,1st Test,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",Thursday 25th November,09:30 IST
9,2nd Test,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",Friday 3rd December,09:30 IST
10,1st Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",Friday 17th December,13:30 IST
11,2nd Test,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",Sunday 26th December,13:30 IST
12,3rd Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",Monday 3rd January,13:30 IST
13,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Tuesday 11th January,14:00 IST
14,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Friday 14th January,14:00 IST
15,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Sunday 16th January,14:00 IST
16,1st T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Wednesday 19th January,19:30 IST
17,2nd T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Friday 21st January,19:30 IST
18,3rd T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Sunday 23rd January,19:30 IST
19,4th T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Wednesday 26th January,19:30 IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [281]:
driver3=webdriver.Chrome('chromedriver.exe')
url3='https://www.guru99.com/'
driver3.get(url3)

In [289]:
sl=driver3.find_elements_by_xpath("//ul[@class='menu1']/li[3]")
for i in sl:
    i.text=='Selenium'
    i.click()
    break

In [321]:
eh=driver3.find_element_by_xpath("//div[@class='entry-content single-content']/table[5]/tbody/tr[34]/td/a/strong[1]").click()

In [331]:
Name=[]

nm=driver3.find_elements_by_xpath("//div[@class='entry-content single-content']//table/tbody/tr/td[1]")

for i in nm:
    Name.append(i.text)
len(Name)

41

In [332]:
Description=[]

dc=driver3.find_elements_by_xpath("//div[@class='entry-content single-content']//table/tbody/tr/td[2]")

for i in dc:
    Description.append(i.text)
len(Description)

41

In [333]:
df3=pd.DataFrame()

df3['Exception name']=Name
df3['Description']=Description

df3

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [77]:
driver4=webdriver.Chrome('chromedriver.exe')
url4='http://statisticstimes.com/'
driver4.get(url4)

In [78]:
economy=driver4.find_elements_by_xpath("//div[@class='navbar']/div[2]")

for i in economy:
    i.text=='Economy'
    i.click()
    break

In [79]:
india=driver4.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
india.click()

In [83]:
state=driver4.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]")
state.click()

In [129]:
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]


r=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[1]")
for i in r:
    Rank.append(i.text)
    
s=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[2]")
for i in s:
    State.append(i.text)
    
g1=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[3]")
for i in g1:
    GSDP1.append(i.text)
    
g2=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[4]")
for i in g2:
    GSDP2.append(i.text)
    
share=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[5]")
for i in share:
    Share.append(i.text)
    
gdp=driver4.find_elements_by_xpath("//div[@id='table_id_wrapper']//table[1]/tbody/tr/td[6]")
for i in gdp:
    GDP.append(i.text)

In [131]:
df4=pd.DataFrame()

df4[' Rank']=Rank
df4['State']=State
df4['GSDP at current price (19-20)']=GSDP1
df4['GSDP at current price (18-19)']=GSDP2
df4['Share(18-19)']=Share
df4['GDP']=GDP

df4

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [450]:
driver5=webdriver.Chrome('chromedriver.exe')
url5='https://github.com/'
driver5.get(url5)

In [451]:
ex=driver5.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]").click()

In [452]:
td=driver5.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']//ul/li[4]/details/div/ul[2]/li[3]/a")
td.click()

In [453]:
Name=[]

name=driver5.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")

for i in name:
    Name.append(i.text)
    
len(Name)

25

In [454]:
Decription=[]

dec=driver5.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")

for i in dec:
    Decription.append(i.text)
    
len(Decription)

25

In [455]:
from selenium.common.exceptions import NoSuchElementException

In [456]:
URL=[]

url=driver5.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")

for i in url:
    URL.append(i.get_attribute('href'))

In [457]:
len(URL)

25

In [461]:
df5=pd.DataFrame()

df5['Repository title']=Name
df5['Repository description']=Decription

df5

,Repository title,Repository description
0,peng-zhihui / Dummy-Robot,我的超迷你机械臂机器人项目。
1,trailofbits / algo,Set up a personal VPN in the cloud
2,Snailclimb / JavaGuide,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...
3,louislam / uptime-kuma,A fancy self-hosted monitoring tool
4,vuejs / vue-next,"🖖 Vue.js is a progressive, incrementally-adopt..."
5,babysor / MockingBird,🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 s...
6,facebook / flipper,A desktop debugging platform for mobile develo...
7,fatedier / frp,A fast reverse proxy to help you expose a loca...
8,ossrs / srs,"SRS is a simple, high efficiency and realtime ..."
9,vinta / awesome-python,"A curated list of awesome Python frameworks, l..."
10,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...
11,ihciah / clean-dns-bpf,基于 Rust + eBPF 丢弃 GFW DNS 污染包
12,sdras / awesome-actions,A curated list of awesome actions to use on Gi...
13,Hack-with-Github / Awesome-Hacking,A collection of various awesome lists for hack...
14,anncwb / vue-vben-admin,"A modern vue admin. It is based on Vue3, vite ..."
15,Python-World / Python_and_the_Web,"Build Bots, Scrape a website or use an API to ..."
16,wimpysworld / quickemu,"Quickly create and run optimised Windows, macO..."
17,mattiasgustavsson / dos-like,"Engine for making things with a MS-DOS feel, b..."
18,apache / rocketmq,Mirror of Apache RocketMQ
19,donet5 / WebFirst,.NET CORE 代码生成器 ，Web中使用CodeFirst模式， 实体生成器，UI代码...
20,raywenderlich / flta-materials,The projects and the materials that accompany ...
21,herosi / CTO,Call Tree Overviewer
22,alibaba / Sentinel,A powerful flow control component enabling rel...
23,alibaba / spring-cloud-alibaba,Spring Cloud Alibaba provides a one-stop solut...
24,vuejs / vue,"🖖 Vue.js is a progressive, incrementally-adopt..."

# 6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [2]:
driver6=webdriver.Chrome('chromedriver.exe')
url6='https://www.billboard.com/'
driver6.get(url6)

In [3]:
chart=driver6.find_element_by_xpath("//div[@class='sticky header__sticky']//header/div/ul/li[1]/a")
chart.click()

In [5]:
hot_100=driver6.find_element_by_xpath("//div[@class='charts-landing__info charts-landing__info--hot-100']/div[2]")
hot_100.click()

In [75]:
Song_Name=[]
Artist_Name=[]
LWR=[]
PR=[]
WB=[]

sn=driver6.find_elements_by_xpath("//ol[@class='chart-list__elements']/li/button/span[2]/span[1]")
for i in sn:
    Song_Name.append(i.text)


an=driver6.find_elements_by_xpath("//ol[@class='chart-list__elements']/li/button/span[2]/span[2]")
for i in an:
    Artist_Name.append(i.text) 


lr=driver6.find_elements_by_xpath("//ol[@class='chart-list__elements']//li/button/div/div[2]")
for i in lr:
    LWR.append(i.text)
    
    
p=driver6.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in p:
    PR.append(i.text)
    

w=driver6.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in w:
    WB.append(i.text)

In [76]:
df6=pd.DataFrame()

df6[' Song name ']=Song_Name
df6['Artist name']=Artist_Name
df6[' Last week rank']=LWR
df6['Peak rank']=PR
df6['Weeks on board']=WB

df6

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Stay,The Kid LAROI & Justin Bieber,1,1,11
1,Industry Baby,Lil Nas X & Jack Harlow,6,2,9
2,Way 2 Sexy,Drake Featuring Future & Young Thug,2,1,3
3,Bad Habits,Ed Sheeran,2,2,13
4,Fancy Like,Walker Hayes,5,5,14
...,...,...,...,...,...
95,Knowing You,Kenny Chesney,100,87,6
96,Am I Dreaming,Lil Nas X Featuring Miley Cyrus,-,97,1
97,Same Boat,Zac Brown Band,-,98,1
98,Come Through,H.E.R. Featuring Chris Brown,64,64,15
99,Don't Go Yet,Camila Cabello,42,42,9

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [48]:
driver7=webdriver.Chrome('chromedriver.exe')
url7='https://www.naukri.com/'
driver7.get(url7)

In [49]:
rew=driver7.find_element_by_xpath("//a[@title='Search Recruiters']").click()

In [54]:
#switching to new tab
driver7.switch_to.window(driver7.window_handles[1])

In [59]:
#Send Values Data Science
sk=driver7.find_element_by_xpath("//div[@class='sWrap lftBrd']/div/input")
sk.send_keys("Data science")

In [62]:
#Click On Search Button
search=driver7.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [64]:
Name=[]

name=driver7.find_elements_by_xpath("//span[@class='fl ellipsis']")

for i in name:
    Name.append(i.text)
    
len(Name)

50

In [66]:
Designation=[]

df=driver7.find_elements_by_xpath("//span[@class='ellipsis clr']")

for i in df:
    Designation.append(i.text)
    
len(Designation)

50

In [88]:
Company=[]

c=driver7.find_elements_by_xpath("//p[@class='highlightable']/a[2]")

for i in c:
    Company.append(i.text)
    
len(Company)

50

In [90]:
Skill=[]

skill=driver7.find_elements_by_xpath("//div[@class='hireSec highlightable']")

for i in skill:
    Skill.append(i.text)
    
len(Skill)

50

In [281]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [103]:
Url=[]

url=driver7.find_elements_by_xpath("//p[@class='highlightable']/a[1]")

for i in url:
    Url.append(i.get_attribute('href'))
    
len(Url)

50

In [143]:
Location=[]

for i in Url:
    driver7.get(i)
    time.sleep(1)
    loc=driver7.find_element_by_xpath("//div[@class='wrpSp oh']//div[5]/a")
    try:
        Location.append(loc.text)
    except NoSuchElementException :
        Location.append("--")
  
len(Location)

50

In [145]:
df7=pd.DataFrame()

df7['Name']=Name
df7['Designation']=Designation
df7['Company Name']=Company
df7['Skills they hire for']=Skill
df7['Location']=Location

df7

,Name,Designation,Company Name,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
33,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
34,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
49,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [294]:
driver8=webdriver.Chrome('chromedriver.exe')
url8='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver8.get(url8)

In [299]:
Book_Name=[]

bn=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")

for i in bn:
    Book_Name.append(i.text)
    
len(Book_Name)

100

In [302]:
Author_Name=[]

an=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")

for i in an:
    Author_Name.append(i.text)
    
len(Author_Name)

100

In [304]:
Volumes_Sold=[]

vs=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")

for i in vs:
    Volumes_Sold.append(i.text)

len(Volumes_Sold)

100

In [305]:
Publisher=[]

ps=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")

for i in ps:
    Publisher.append(i.text)
    
len(Publisher)

100

In [307]:
Genre=[]

gn=driver8.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")

for i in gn:
    Genre.append(i.text)
    
len(Genre)

100

In [308]:
df8=pd.DataFrame()

df8['Book name']=Book_Name
df8['Author name']=Author_Name
df8['Volumes sold']=Volumes_Sold
df8['Publisher']=Publisher
df8['Genre']=Genre

df8

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings

In [149]:
driver9=webdriver.Chrome('chromedriver.exe')
url9='https://www.imdb.com/list/ls095964455/'
driver9.get(url9)

In [152]:
Name=[]

name=driver9.find_elements_by_xpath("//h3[@class='lister-item-header']/a")

for i in name:
    Name.append(i.text)
    
len(Name)

100

In [154]:
Year_Span=[]

year=driver9.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")

for i in year:
    Year_Span.append(i.text)
    
len(Year_Span)

100

In [156]:
Genre=[]

gen=driver9.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")

for i in gen:
    Genre.append(i.text)
    
len(Genre)

100

In [158]:
Run_Time=[]

rt=driver9.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")

for i in rt:
    Run_Time.append(i.text)
    
len(Run_Time)

100

In [160]:
Rating=[]

rating=driver9.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")

for i in rating:
    Rating.append(i.text)
    

len(Rating)

100

In [178]:
Votes=[]

vote=driver9.find_elements_by_xpath("//p[@class='text-muted text-small']//span[2]")

for i in vote:
    Votes.append(i.text)
    
len(Votes[1::2])

100

In [180]:
df9=pd.DataFrame()

df9['TV Serial Name']=Name
df9['Year Span']=Year_Span
df9['Genre']=Genre
df9['Run Time']=Run_Time
df9['Rating']=Rating
df9['Votes']=Votes[1::2]

df9

,TV Serial Name,Year Span,Genre,Run Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,880,912"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"914,539"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"903,353"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"270,745"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,125"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,854"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,725"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,074"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,840"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"202,742"

# 10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [186]:
driver10=webdriver.Chrome('chromedriver.exe')
url10='https://archive.ics.uci.edu/'
driver10.get(url10)

In [190]:
all_dataset=driver10.find_elements_by_xpath("//span[@class='normal']//a")
for i in all_dataset:
    if i.text=='view all data sets':
        i.click()
        break

In [270]:
Dataset_Name=[]

name=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[1]")

for i in name:
    if i.text is None:
        Dataset_Name.append("-")
    else:
        Dataset_Name.append(i.text)
    
len(Dataset_Name)

590

In [271]:
Data_Type=[]

dt=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[2]")

for i in dt:
    if i.text is None:
        Data_Type.append("-")
    else:
        Data_Type.append(i.text)
    
len(Data_Type)

590

In [274]:
Default_Task=[]

det=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[3]")

for i in det:
    if i.text is None:
        Default_Task.append("-")
    else:
        Default_Task.append(i.text)
    
len(Default_Task)

590

In [275]:
Attributes_Types=[]

at=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[4]")

for i in at:
    if i.text is None:
        Attributes_Types.append("-")
    else:
        Attributes_Types.append(i.text)
    
len(Attributes_Types)

590

In [276]:
Instances=[]

ins=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[5]")

for i in ins:
    if i.text is None:
        Instances.append("-")
    else:
        Instances.append(i.text)
    
len(Instances)

589

In [277]:
Attributes=[]

atr=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[6]")

for i in atr:
    if i.text is None:
        Attributes.append("-")
    else:
        Attributes.append(i.text)
        
len(Attributes)

589

In [291]:
Year=[]

yr=driver10.find_elements_by_xpath("//table[@cellpadding=5]/tbody/tr/td[7]")

for i in yr:
    try:
        Year.append(i.text)
    except NoSuchElementException:
        Year.append("--")
        
len(Year)

589

In [292]:
Year

['Year',
 '1995 ',
 '1996 ',
 ' ',
 '1998 ',
 '1998 ',
 '1992 ',
 '1987 ',
 '1992 ',
 '1993 ',
 '1987 ',
 '1994 ',
 '1994 ',
 ' ',
 '1988 ',
 '1992 ',
 '1995 ',
 '1995 ',
 '1990 ',
 '1997 ',
 '1996 ',
 '1988 ',
 '1989 ',
 '1994 ',
 ' ',
 ' ',
 '1995 ',
 ' ',
 '1992 ',
 '1987 ',
 '1997 ',
 '1998 ',
 '1995 ',
 '1998 ',
 ' ',
 ' ',
 '1994 ',
 ' ',
 '1989 ',
 '1996 ',
 '1990 ',
 '1990 ',
 '1987 ',
 '1999 ',
 '1989 ',
 '1988 ',
 '1988 ',
 '1989 ',
 ' ',
 '1990 ',
 '1998 ',
 '1989 ',
 '1988 ',
 '1994 ',
 '1990 ',
 '1988 ',
 '1988 ',
 '1990 ',
 '1991 ',
 '1990 ',
 ' ',
 '1992 ',
 '1988 ',
 '1990 ',
 '1996 ',
 '1995 ',
 '1990 ',
 ' ',
 '1992 ',
 '1992 ',
 '1994 ',
 ' ',
 '1987 ',
 '1994 ',
 '1994 ',
 '1997 ',
 '1991 ',
 '1995 ',
 '1998 ',
 '1998 ',
 '1993 ',
 '1988 ',
 ' ',
 ' ',
 '1992 ',
 '1993 ',
 '1988 ',
 '1989 ',
 '1988 ',
 '1987 ',
 '1993 ',
 '1988 ',
 '1999 ',
 '2001 ',
 '2001 ',
 ' ',
 '1992 ',
 '1993 ',
 '1997 ',
 '1991 ',
 '1987 ',
 '1994 ',
 '1988 ',
 '1987 ',
 '1993 ',
 '1988 ',
 '1988 ',
 '1991 ',
 '1996 ',
 '1990 ',
 ' ',
 '1999 ',
 '1999 ',
 '2002 ',
 ' ',
 '2000 ',
 '1999 ',
 '1999 ',
 '2001 ',
 '1999 ',
 '1999 ',
 '2000 ',
 '1999 ',
 '2000 ',
 '1999 ',
 '1999 ',
 ' ',
 '1998 ',
 '1999 ',
 '2001 ',
 '1999 ',
 ' ',
 '2003 ',
 '1999 ',
 '1999 ',
 '1997 ',
 '1999 ',
 '1999 ',
 '1998 ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 ' ',
 '1993 ',
 '1990 ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1989 ',
 '2006 ',
 '2006 ',
 '2007 ',
 '2007 ',
 '2007 ',
 '2007 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2007 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2009 ',
 '2008 ',
 '2008 ',
 '2008 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2009 ',
 '2010 ',
 '2009 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2010 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2011 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2012 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2014 ',
 '2013 ',
 '2013 ',
 '2013 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2013 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2014 ',
 '2015 ',
 '2014 ',
 '2014 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2014 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2015 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2016 ',
 '2016 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2017 ',
 '2016 ',
 '2018 ',
 '2018 ',
 '2016 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2018 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2021 ',
 '2018 ',
 '2018 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2019 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2020 ',
 '2021 ',
 '2021 ',
 '2021 ']

In [293]:
df10=pd.DataFrame()

df10['Dataset Name']=Dataset_Name[1:589]
df10['Dataset Type']=Data_Type[1:589]
df10['Default Task']=Default_Task[1:589]
df10['Attribute Type']=Attributes_Types[1:589]
df10['No of instances']=Instances[1:]
df10[' No of attribute']=Attributes[1:]
df10['Year']=Year[1:]

df10

,Dataset Name,Dataset Type,Default Task,Attribute Type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021